#salcodes{
	background:blue;
	color:#fff;
	font-size:20px;
	padding:10px 20px;
}
.salcodes-boxed-content {
    padding: 10px;
}
.salcodes-boxed-title h3 {
    margin: 0px !important;
    padding: 10px;
	text-align:center;
	color:yellow !important;
}