/**	
 * hsc slider Styling
 */

.slide-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay:before {
    content: " ";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.hsc-slider .slick-dots {
    bottom: 0;
}

.hsc-slider {
    max-height: 600px;
    overflow: hidden
}

.hsc-slider .slide-inner .slide-bg {
    max-height: 600px;
    object-position: center;
    object-fit: cover;
    width: 100%;
}

.slide-inner>a {
    width: 100%
}

.slide-content {
    position: absolute;
    color: #fff;
    text-align: center;
    margin: auto;
    z-index: 99;
}

.slide-content h2 {
    color: inherit;
}

.slide-body {
    width: 60%;
    max-width: 100%;
    margin: auto;
    margin-bottom: 40px;
}

.slide-inner .h2 {
    color: inherit;
    font-weight: 700;
}


/** RESPONSIVE CSS */

@media (max-width: 768px) {
    .slide-body {
        width: 100%;
        margin-bottom: 10px;
    }
    .slide-content {
        width: 90%;
    }
    .slide-content>h2 {
        margin-bottom: 10px;
        line-height: normal;
        font-size: 24px;
    }
}